/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-new
 *= require bootstrap-arrows
 *= require bootflat
 *= require bootflat-extensions
 *= require bootflat-square
 */

@import url(http://fonts.googleapis.com/css?family=Orbitron:900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,700);

ul.tick-list {
	list-style-image:url('/assets/icon-tick.png');
}


.logo {
	font-family: 'Orbitron', sans-serif;
}

.intext {
	display: inline; 
}

.slogan {
	font-family: 'Roboto Condensed', sans-serif;
}

.btn-create-form {
	margin-top: 10px;
	width: 100%;
}

.skip_link {
	margin-top: 5px;
}

.rating-cancel {
	display:none !important;
}

.field_with_errors { 
	display: inline; 
}

.arrow-left {
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	transform:rotate(270deg);
}

.input-group, .form-control {
	margin-bottom: 3px;
}